{% extends "base.html" %}

{% block title %}Recipe Book{% endblock %}

{% block bar %}
<nav>
    <a href="{{ url_for('history_page') }}">History Page</a>
    <a href="{{ url_for('favorites_page') }}">Favorite Recipes</a>
    <a href="{{ url_for('new_arrivals_page') }}">New Recipe Page</a>

    <form action="#">
        <input type="text" placeholder="Search">

        <button onclick="">
            <p>Search</p>
        </button>
    </form>
</nav>
{% endblock %}

{% block content %}

<h1>Available Recipes</h1>

<ul>
{% if true %}
    {% for recipe in recipes_a %}
        <li><a href="{{ url_for('recipe_detail_page', recipe_id=recipe.idMeal) }}">{{ recipe.strMeal }}</a></li>
    {% endfor %}
    {% for recipe in recipes_b %}
        <li><a href="{{ url_for('recipe_detail_page', recipe_id=recipe.idMeal) }}">{{ recipe.strMeal }}</a></li>
    {% endfor %}
    {% for recipe in recipes_c %}
        <li><a href="{{ url_for('recipe_detail_page', recipe_id=recipe.idMeal) }}">{{ recipe.strMeal }}</a></li>
    {% endfor %}
{% else %}
    <p>No recipes found</p>
{% endif %}
</ul>

{% endblock %}
