{% extends "base.html" %}

{% block head %}
{# Insert stylesheet #}
{% endblock %}

{% block title %}Recipe Book{% endblock %}

{% block bar %}
<nav>
    <a href ="{{ url_for('home_page') }}">Home Page</a>
    <a href ="{{ url_for('history_page') }}">History Page</a>
    <a href ="{{ url_for('favorites_page') }}">Favorite Recipes</a>
    <form action="#">
        <input type="text" placeholder="Search">
        
        <!--create page for search results-->
        <button onclick="">
            <p>Search<p>
        </button>
    </form>
</nav>
{% endblock %}

{% block content %}

<h1>New Recipes</h1>

{% endblock %}